body
{
}
.left {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 1800px;
    text-align: center;
}
.right {
    position: absolute;
    top: 0;
    right: 0;
    left: 220px;
    height: 1800px;
    border-left: 2px solid #ccc;
    width:100%;
}
.index{
    border-right:none;
    height: 1800px;
   width:100%;
}