body {
}
*{
    box-sizing:border-box;

}
.container{
    width:1170px;
    margin:0 auto;
}
.top-wrapper{
    background-image:url(BGimage.png);
    background-size:cover;
    background-repeat:repeat;
    background-color:rgba(255,255,255,0.2);
    height:1800px;
    
}
.heading{
    text-align:center;
    font-size:32px;
    padding:50px 0 100px 0;

}
.icons{
    float:left;
    width:526px;
}
.text-contents{
    float:right;
    width:526px;
    padding-left:20px;

}
.footer{
    float:left;
    width:1170px;
    padding-top:50px;
}
.text-heading {
    padding:30px 0;
    border-bottom:2px solid black;
}
.text-content{
    padding:50px 0;
    border-bottom:2px solid black;
}
.text-content p{
    padding:15px 0 50px 15px;
}
.img-text{
    padding:50px 0 50px 100px;
}
.english-text{
    padding:25px 0 25px 100px;
}
.e-mail {
    padding: 25px 0 25px 100px;
}
.log {
    padding: 25px 0 25px 100px;
}
