body
{
}
.left {
    position: absolute;
    top: 0;
    left: 0px;
    width: 220px;
    height: 1800px;
    text-align: center;
}
.right {
    position: absolute;
    top: 0;
    right: 0;
    left: 220px;
    height: 1800px;
    border-left: 2px solid #ccc;
    float:right;
}
iframe {
    border: none;
    height: 1800px;
    width: 1400;
}