body
{
}
.left {
    position: absolute;
    top: 0;
    left: 0px;
    width: 20%;
    height:1800px;
    text-align: center;
}
.right {
    position: absolute;
    top: 0;
    right: 0;
    left: 220px;
    height: 1800px; 
    border-left: 2px solid #ccc;
    width: 80%;
    background-image: url(BGimage.png);
    background-size: cover;
    background-repeat: repeat;
    background-color: rgba(255,255,255,0.2);
}
.index{
    border-right:none;
    height: 1800px;
   width:100%;
}